.contentFooter {
  background-color: #212529;
  color: white;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.contentFooterDescriptions {
  margin: 2% 15%;
  display: flex;
  padding: 45px;
  justify-content: space-between;
  text-align: center;
}

.contentAllMessage {
  width: 120%;
}
.titleMessage {
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: bold;
}
.contentMessage {
  font-size: 15px;
}
.specialMessage {
  color: #18bc9c;
}
.copyRigthMessage {
  margin-top: 20px;
  width: 300%;
  font-size: 15px;
  text-align: center;
}
